<div class="cards" *ngFor="let serve of httpdata" >
    <div class="margin">
    <p>{{serve.name }}</p>
    <p>{{serve.email }}</p>
    <p>{{serve.website}}</p>
    <p>{{serve.phone}}</p>
    <div class="content">
     <a href="https://facebook.com" >  <i class="fa-brands fa-facebook" ></i> </a>
     <a href="https://twitter.com" style="padding-left: 25px;">   <i class="fa-brands fa-twitter" ></i> </a>
     <a href="https://google.com" style="padding-left: 25px;">    <i class="fa-brands fa-google" ></i> </a>
     <a href="https://linkedin.com" style="padding-left: 25px;">  <i class="fa-brands fa-linkedin" ></i> </a>
    </div>  
    </div>
  </div>